
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Custom
*.log
layout_config.json

# Build artifacts
build/
*.spec
!Lufia2AutoTracker_v1.4.6.spec
!Lufia2AutoTracker_v1.4.7.spec
!Lufia2AutoTracker_v1.4.8.spec
!Lufia2AutoTracker_v1.4.9.spec
src/helper/obj/
src/helper/bin/Release/net8.0/win-x64/*
!src/helper/bin/Release/net8.0/win-x64/publish/
src/helper/bin/Release/net8.0/win-x64/publish/*
!src/helper/bin/Release/net8.0/win-x64/publish/Lufia2AutoTracker.Helper.exe
